<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<settings>
    <category label="General">
        <setting id="autoplay" type="bool" label="Reproduccion automatica" default="false"/>
    </category>
    <category label="Cuenta">
        <setting id="is_premium" type="bool" label="Modo Premium" default="false"/>
    </category>
</settings>
