<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<settings>
    <category label="General">
        <setting id="tmdb_lang" type="labelenum" label="Idioma TMDb" values="es-ES|en-US|pt-BR|fr-FR" default="es-ES"/>
        <setting id="items_per_page" type="labelenum" label="Resultados por pagina" values="20|40|60" default="20"/>
        <setting id="autoplay" type="bool" label="Reproduccion automatica" default="false"/>
    </category>
    <category label="Cuenta">
        <setting id="is_premium" type="bool" label="Modo Premium" default="false"/>
        <setting id="alldebrid_key" type="text" label="API Key AllDebrid" default=""/>
    </category>
</settings>
